global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']

  - job_name: 'studyspot-backend'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['backend:8080']

  - job_name: "studyspot-backend-test"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["backend-test:8080"]

  - job_name: "nginx-frontend"
    static_configs:
    - targets: ["nginx-exporter-frontend:9113"]

  - job_name: "nginx-frontend-test"
    static_configs:
      - targets: ["nginx-exporter-frontend-test:9113"]